<!DOCTYPE html>
<html>

<head>
    <!--Add Component Style & Script Here-->
    <script src="../../jquery-3.6.0.js"></script>
    <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="hyperlink_style.css">
    <script src="hyperlink_script.js"></script>

</head>

<body>
    <div class="content" id="hyperlink-content">
        <div class="grid1">
            <div class="grid2">
                <input class="link-to" placeholder="Link To..." autocomplete="off">
                <textarea class="comments" rows="7"></textarea>
            </div>
            <button class="go" onclick="gotoPage()">Go</button>
        </div>
    </div>

</body>

</html>