.container {
    height: 170px; 
    margin-top: 30px;
    overflow: scroll; 
    border: 10pc; 
    border-radius: 5px; 
    box-shadow: 2px 4px 8px rgba(0.2,0.2,0,0.3);  
}
.container::-webkit-scrollbar {
    display: none;
}
.container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.editorjs {
    margin-top: 10px; 
}
